body {
  background: linear-gradient(80deg, #f0f0f0 70%, #888888 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent !important;
  user-select: none !important;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
