<nav class="navbar">
  <!-- Logo -->
  <a class="navbar-brand" routerLink="/guest/home">
    <img src="assets/logo.png" class="logo" alt="Logo" />
  </a>

  <!-- Middle logo name -->
  <a class="navbar-middle" routerLink="/guest/home">
    <img class="logo-name" src="assets/logo_name.png" alt="Logo Name" />
  </a>

  <!-- Navigation Links -->
  <div class="navbar-links">
    <a routerLink="/guest/login" routerLinkActive="active" class="nav-link">Login</a>

    <a routerLink="/guest/registration" routerLinkActive="active" class="nav-button">Get HHS for Free</a>
  </div>
</nav>