<div class="login-container">
  <div class="login-box">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/guest/home">
      <img src="assets/logo.png" class="logo" alt="Logo" />
    </a>

    <!-- Middle logo name -->
    <div class="navbar-middle">
      <img class="logo-name" src="assets/logo_name.png" alt="Logo Name" />
    </div>
    <p class="subtitle">Log in to continue</p>

    <form (ngSubmit)="onSubmit()">
      <input 
        type="email" 
        placeholder="Enter your email" 
        [(ngModel)]="loginData.email" 
        name="email"
        required 
      />
      <input 
        type="password" 
        placeholder="Enter your password" 
        [(ngModel)]="loginData.password"
        name="password"
        required 
      />

      <div class="remember-me">
        <input 
          type="checkbox" 
          id="remember" 
          [(ngModel)]="loginData.rememberMe"
          name="rememberMe"
        />
        <label for="remember">Remember me</label>
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="links">
      <a routerLink="/guest/forgot-password">Forgot Password?</a>
      <span>•</span>
      <a routerLink="/guest/registration">Create an account</a>
    </div>
  </div>
</div>