<div class="tab-slider-container">
  <!-- Tab Navigation -->
  <div class="tab-navbar">
    @for (paragraph of paragraphs; track i; let i = $index) {
      <div 
        class="tab" 
        [class.active]="currentIndex === i" 
        (click)="goToSlide(i)"
      >
        {{ paragraph.title }}
      </div>
    }
  </div>

  <!-- Content Section -->
  <div class="content-section">
    <div class="text-container">
      @for (para of paragraphs[currentIndex].content; track $index) {
      <br />
      <p>{{ para }}</p>
      }
    </div>
  </div>

  
</div>