<div class="container">
  <section class="section">
    <p style="font-size: 6.5vh">
      Stay on top of your home with our Household Management System
    </p>
    <p>
      where all your chores, family members, and tools come together. Organize,
      collaborate, and simplify family life like never before.
    </p>
    <div class="email-container">
      <input placeholder="Enter your email" [(ngModel)]="email" />
      <button (click)="navigateToRegistration()">Sign up - it's free!</button>
    </div>
  </section>
  <section class="section">
    <img src="assets/app_example1.png" class="img1" alt="example1" />
    <img src="assets/app_example2.png" class="img2" alt="example1" />
  </section>
</div>
<app-slider></app-slider>